- if authorized?
  %ul#projects
    - @projects.each do |project|
      %li{ :class => cycle("even", "odd") + ' ' + project.status.to_s }
        %a{ :href => project_path(project) }&= project.name
        .meta
          - case project.status
          - when :building
            Building!
          - when :blank
            Never built yet
          - else
            = project.human_status
  %p#new
    %a{ :href => path("/new") } Add a new project
- else
  .blank_slate
    %h1
      Please login 
      = succeed "?" do
        %a{ :href => path("/login") } first